
   Table thead {
    background: #aaaad4;
  }
   Table thead th {
    border: 0;
  }
   Table tbody td {
    vertical-align: middle;
  }
.button{
  background: #aaaad4;
}
.button:hover{
  background-color: aquamarine;
}


